/* Eléments principaux */

body {
    background: #08283c;
    background: url('img/background/2.33/background_2.33.jpg') center top no-repeat;
    font-family: Constantia, Verdana, Arial, sans-serif;
    color: #181818;
    transition: all 1.3s ease;
}

#bloc_page {
    width: 900px;
    margin: auto;
}

@media all and (max-width: 1024px) {
    #bloc_page {
        width: auto;
    }
}