/* Eléments principaux */

body {
    background: #08283c;
    background: url('img/background/2.33/background_2.33.jpg') center top no-repeat;
    font-family: Arial, sans-serif;
    transition: all 1.3s ease;
    margin: 0px;
}

#bloc_page {
    width: 900px;
    margin: auto;
}


/* Polices */

@font-face {
    font-family: 'BebasNeue';
    src: url('police/BebasNeue/BebasNeueRegular.eot');    
    src: url('police/BebasNeue/BebasNeueRegular.eot?#iefix') format('embedded-opentype'), 
         url('police/BebasNeue/BebasNeueRegular.otf') format('otf'),
         url('police/BebasNeue/BebasNeueRegular.woff') format('woff'),
         url('police/BebasNeue/BebasNeueRegular.ttf') format('truetype'),
         url('police/BebasNeue/BebasNeueRegular.svg#BebasNeue') format('svg');
}

@media all and (max-width: 1024px) {
    #bloc_page {
        width: auto;
    }
}