/* Nav */

nav {
    text-align: center;
    margin-top: 32px;
<<<<<<< HEAD
    border-top: 3px solid #96a702;
=======
    border-top: 2px solid #96a702;
>>>>>>> 0e4256e62d0e7158929a6e3792807e0a71a4e8ef
    background-color: rgba(0, 0, 0, 0.8);
    height: 80px;
    width: 100%;
}

#menu_bar {}

#menu_bar a {
    letter-spacing: -0.5px;
    color: white;
    font-size: 19px;
    text-decoration: none;
    line-height: 80px;
    vertical-align: text-bottom;
}

#menu_bar a:hover {
    color: #b4c10c;
}

<<<<<<< HEAD
#mini_embleme_speedbar {
    position: relative;
    z-index: 2;
    margin-top: -31px;
}
=======
#mini_embleme_speedbar {}
>>>>>>> 0e4256e62d0e7158929a6e3792807e0a71a4e8ef

#separation_vertical {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
}